<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Students</h1>
    <a href="/students/add">Add Student</a><br>
    <a href="/">Home</a><br><br>
    <table border="1">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.sid %></td>
                    <td><%= student.name %></td>
                    <td><%= student.age %></td>
                    <td><a href="/students/edit/<%= student.sid %>">Update</a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
